<style>
.all-center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.all-center-box-content {
  width: 50%;
  color: #fff;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  display: flex;
}
h1 {
  text-transform: uppercase;
}
h1 span {
  vertical-align: super;
  font-size: .5em;
  color: green;
}
.login-btn {
  background: rgba(128,42,149,1);

  padding:20px 40px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 4px 1px #fff;
  color: #fff;
  margin-top: 30px;
  float: right;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s;
}
.login-btn:hover {
  box-shadow: 0 0 4px 1px rgba(8,0,68,1);
}
.login-btn img {
  height: 1.6em;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.all-center-box-content-img {
  margin-left: 40px;
}
</style>
<div class="all-center-box">
  <div class="all-center-box-content">
    <div class="all-center-box-content-text">
      <h1>Мисс СмолГУ<span>онлайн</span></h1>
      <div class="description">Выбираем самую красивую студентку, заодно и студента. Знакомимся и улучшаем демографическую ситуацию в стране.</div>
      <a href="/auth/vk" class="login-btn"><img src="/img/v.svg" alt=""> Войти</a>
    </div>
    <div class="all-center-box-content-img">
      <img src="/img/woman-icon.png" alt="">
    </div>
  </div>
</div>
